/stubwarnings.txt
/gdx.vcxproj.user
/out/
/build/
/x64/
/gdx/x64/
/cmake-build-*/
.idea/
.vs/
.vscode/
/slowdown.txt
/class_benchmarks.txt
/gdxbench_collected.txt
/gdxtest.xcodeproj/project.xcworkspace/xcuserdata/
/gdxtest.xcodeproj/xcuserdata/
/src/gclgms.h
/src/gdxcc.c
/src/gdxcc.h
/src/__pycache__
/venv/
/docs/html/
