/stubwarnings.txt
/gdx.vcxproj.user
/build/
/x64/
/cmake-build-debug-coverage/
/cmake-build-release-coverage/
/cmake-build-release/
/cmake-build-debug/
.idea/
.vs/
/slowdown.txt
/class_benchmarks.txt
/gdxbench_collected.txt
/.vscode/
/gdxtest.xcodeproj/project.xcworkspace/xcuserdata/
/gdxtest.xcodeproj/xcuserdata/
/zlib/
/src/gclgms.h
/src/gdxcc.c
/src/gdxcc.h
/venv/
/docs/html/
/gdx/x64/